* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(255, 19, 94);
}

svg {
  display: block;
}
